<!DOCTYPE html>
<html lang="en">
    <!--Im head werden allgemeine einstellungen zur seite zur website festgelegt-->
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>N27 - About</title>
    <!--Im Body steht der Inhalt der Website, also alles, was im Browser angeziegt wird-->
</head>
<body>
    <h1>Über uns</h1>
    
E-Mail: mailmail99@gmx.de
<p>
Sitz:   Bonn
<p>
Bankleitzahl:   12345
<p>
Unternehmensname und Rechtsform:                  
<p>
Evtl. Telefonnummer für Support:
<p>
Disclaimer:
<p>
Eine About seite muss in HTML erstell werden:

<!--Überschrift der Größe 1-->

</body>
</html>
