<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/vnd.microsoft.icon" href="favicon.ico">
    <link rel="stylesheet" href="styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>N27</title>
</head>
<body>
    <div class="rahmen">
        <div class="kopf">
            <h1>N27 - Über uns</h1>            
        </div>
        <div class="navigationsleiste">
            <a href="/"<><i class="fa fa-home" aria-hidden="true"></i>  |
            <i class="fa fa-info" aria-hidden="true"></i>  |
            <a href="/login">Logout</a>
        </div>
        <div class="inhaltsbereich">
            <h2>Über uns</h2>
    
            Heute sind wir bestens AUfgestellt 
            und das nur für Sie mit 600 Filialen,
            16.500 Geschäftsstellen und knapp 300.000 
            Mitarbeiter – sie alle sind ausschlaggebend
            für das hochwertige Angebot und den Erfolg 
            der N27 Wirtschaftsbank. 
            <p></p>
            Als öffentlich-rechtliche Finanzinstitute
            kommen sie – gemeinsam mit ihren Verbundpartnern 
            aus der N27 Bank – einem einzigartig 
            verantwortungsvollen Auftrag nach: Sie fördern mit 
            ihren Produkten, Dienstleistungen und ihrer Präsenz 
            vor Ort den Wohlstand der Menschen und das Wachstum der
            Wirtschaft. Lokal, regional und bundesweit.
        </div>
        <div class="fusszeile">
            &copy; 2022 GW21A
        </div>
    </div>
</body>
</html>